@import url('reset.css');



/** html elements **/
body {
    background: #2b2b2b;
    font-family: 'Lato';
    width: 100%;
    height: 100%;
    
}
h1, h2, h3, h4 {
    color: #546267;
    font-family: 'Prosto One';
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
a {
    color: #4224fb;
}
p, div {
    font-family: 'Lato';
}
p {
    color: #3b3b3b;
    line-height: 1.5;
    margin-bottom: 1.2em;
}
li {
    color: #3b3b3b;
    line-height: 1.5;
    margin-bottom: 1em;
}

/** header **/
header {
    background: transparent;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 100;
}
.header-bg {
    background: linear-gradient(rgba(43,43,43,0.97), rgba(70,70,70,0.9));
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity .3s ease-out;
    top: 0; 
    width: 100%; 
    z-index: -1;
}
header.sticky .header-bg {
    opacity: 1;
}

/** nav **/
nav ul {
    list-style: none;
    padding: 15px;
}
nav ul li {
    display: inline-block;
    line-height: 1;
    margin-right: 30px;
}
nav ul li a {
    color: white;
    font-size: 30px;
    font-family: 'Prosto One';
    text-decoration: none;
}

nav ul li a.active,
nav ul li a:hover {
    color: #4224fb;
}


/** logo **/
.logo {
    font-family: 'Prosto One';
    position: absolute;
    top: 18px;
    right: 8px;
    text-transform: uppercase;
    z-index: 10;
}
.logo .peter {
    color: white;
    display: block;
    font-size: 56px;
    line-height: 0.6;
}
.logo .portfolio {
    color: white;
    font-size: 40px;
}




/* c0c0c0-e0e0e0-13054d-410969-4224fb 
$color1: rgba(192, 192, 192, 1);
$color2: rgba(224, 224, 224, 1);
$color3: rgba(19, 5, 77, 1);
$color4: rgba(65, 9, 105, 1);
$color5: rgba(66, 36, 251, 1);
*/
.shapes-wrapper {
    position: absolute;
    width: 100%;
    height: 120vh;
    overflow: hidden;
}
.shapes {
    position: absolute;
    height: 80vw;
    width: 120vw;
    top: 30px;
    left: 35vw;
}
.shape1 {
    background: linear-gradient(rgba(19, 5, 77, 0.45) 0%, rgba(66, 36, 251, 0.6) 100%) no-repeat 50% 50% / 100% 100%;
    transform: rotate(43deg);
    z-index: 1;
}
.shape2 {
    background: linear-gradient(260deg, rgba(66, 36, 251, 0.45) 0%, rgba(65, 9, 105, 0.6) 100%) no-repeat 50% 42% / 100% 100%;
    transform: rotate(51deg);
    z-index: 2;
}
.shape3 {
    background: linear-gradient(260deg, rgba(65, 9, 105, 0.45) 0%, rgba(66, 36, 251, 0.6) 100%) no-repeat 50% 42% / 100% 100%;
    transform: rotate(58deg);
    z-index: 3;
}
.shape4 {
    background: linear-gradient(260deg, rgba(224, 224, 224, 0.65) 0%, rgba(255, 255, 255, 0.6) 100%) no-repeat 50% 42% / 100% 100%;
    transform: rotate(66deg);
    z-index: 4;
}


/** shared **/
.wrapper {
    align-items: center;
    display: flex;
    height: 120vh;
    justify-content: center;
    position: relative;
    z-index: 10;
    width: 100%;
}
.main {
    background-color: rgba(255,255,255,0.8);
}
.main .row {
    padding-bottom: 30px;
}
.col-title {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
}


/** home **/
.featured img {
    max-width: 100%;
    margin-bottom: 1em;
}
/** portfolio **/
.portfolio .wrapper {
    height: auto;
    top: 170px;
}
.portfolio-tile {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 277px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.portfolio-tile--caption {
    color: #2b2b2b;    
    background-color: rgba(255, 255, 255, .9);
    bottom: -110px;
    display: block;
    padding: 10px;
    position: absolute;
    transition: all .4s ease-out;
    width: 100%;
}
.portfolio-tile:hover .portfolio-tile--caption {
    bottom: 10px;
}
.portfolio-tile--title {
    font-size: 1.3em;
}
.portfolio-tile--caption a {
    display: inline-block;
    padding: 0 15px;
    font-size: 0.9em;
}
.portfolio-tile--caption a:first-of-type {
    border-right: 1px solid #3b3b3b;
}




/** contact **/
.contact-form {
    padding: 15px;
}
.contact-form input, 
.contact-form textarea {
    color: #151e3f;
} 
.contact-form .btn {
    color: white;
    background-color: #151e3f;
}


/** footer **/
footer {
    background: linear-gradient(rgba(43,43,43,0.97), rgba(70,70,70,0.9));
    bottom: 0;
    left: 0;
    color: #f2f3d9;
    position: fixed;
    width: 100%;
}
footer .copy {
    padding: 30px;
    text-align: center;
}