@import url('reset.css');

/** 
purple #3518B3
whitish #F7F5F2
purple-lt #6542FF
green-lt #45CC46
green #28B829
*/

:root {
    --color-purple: #3518B3;
    --color-white: #F7F5F2;
    --color-purple-lt: #6542FF;
    --color-green-lt: #45CC46;
    --color-green: #28B829;
    --color-black: #2b2b2b;
    --color-gray-lt: #E8E6E3;
    --font-nav: 'Prosto One';
    --font-body: 'Lato';
}

/** html elements **/
body {
    /* background-image: url('../../assets/images/bg.png');
    background-repeat: no-repeat;
    background-position: -39px 199px;
    background-size: 80%; */
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-body);
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4 {
    color: var(--color-purple-lt);
    font-family: var(--font-body);
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1em;
}
a {
    color: var(--color-green);
}
a:hover,
a:active {
    color: var(--color-green-lt);
}
p, div {
    font-family: 'Lato';
}
p {
    color: var(--color-black);
    line-height: 1.5;
    margin-bottom: 1.2em;
}
li {
    color: var(--color-black);
    line-height: 1.5;
    margin-bottom: 1em;
}

/** header **/
header {
    background-color: var(--color-gray-lt);
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: 3px solid var(--color-green-lt);
}
header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 65px;
}

/** logo **/
.logo h1 {
    color: var(--color-purple);
    display: block;
    font-family: var(--font-nav);
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1;
}

/** nav **/
nav {
    align-items: center;
    display: flex;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin: 0 0 0 30px;
    line-height: 1;
}
nav ul li a {
    color: var(--color-black);
    font-size: .8em;
    font-family: var(--font-nav);
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a.active,
nav ul li a:hover {
    color: var(--color-purple);
    text-decoration: none;
}




/** shared **/
.wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    position: relative;
    width: 100%;
    z-index: 10;
}
.wrapper .row {
    padding-bottom: 50px;
}
.col-title {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-white);
}


/** home **/
.featured .col-title p {
    font-size: .8em;
    margin-bottom: 2px;
}
.featured img {
    min-width: 100%;
    margin-bottom: 1em;
    box-shadow: 7px 7px 24px 0px #aaa;
}

/** about **/
.skills {
    columns: 2;
}

/** portfolio **/
.portfolio .wrapper {
    height: auto;
}
/* .portfolio-tile {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 277px;
    margin-bottom: 70px;
    overflow: hidden;
    position: relative;
    width: 100%;
} */
.portfolio-tile--title {
    color: var(--color-green);
    font-size: 1.3em;
    line-height: 2;
}
.portfolio-tile--caption {
    color: #2b2b2b;    
    background-color: rgba(255, 255, 255, .9);
    bottom: -110px;
    display: block;
    padding: 10px;
    position: absolute;
    transition: all .4s ease-out;
    width: 100%;
}
.portfolio-tile:hover .portfolio-tile--caption {
    bottom: 10px;
}

.portfolio-tile figcaption .links a {
    color: var(--color-white);
    display: inline-block;
    padding: 0 15px;
    font-size: 0.8em;
}
.portfolio-tile--caption a:first-of-type {
    border-right: 1px solid var(--color-black);
}



/** footer **/
footer {
    background: var(--color-green-lt);
    bottom: 0;
    left: 0;
    color: var(--color-gray-lt);
    width: 100%;
    z-index: 100;
}
footer .copy {
    padding: 5px;
    text-align: center;
}


/** smaller screens **/
@media screen and (max-width: 992px) {

}

/** mobile and smaller **/
@media screen and (max-width: 768px) {
    .logo {
        position: relative;
        text-align: center;
        right: unset;
    }
    header {
        position: absolute;
        top: 100px;
        height: auto;
    }
    header.sticky {
        position: fixed;
        top: 0;
    }
    nav ul {
        text-align: center;
    }
    nav ul li {
        margin: 0 10px;
    }
    nav ul li a {
        font-size: 20px;
    }
    .shapes-wrapper {
        top: 0;
    }
    .wrapper {
        display: block;
        top: 110px;
        height: auto;
    }
    .portfolio-tile--caption {
        bottom: 0;
    }
    footer .copy {
        padding: 10px;
    }
    
}

/** mobile vertical **/
@media screen and (max-width: 520px) {
    
}

.portfolio-tile {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: var(--font-body);
    font-size: 16px;
    margin: 10px 5px 70px;
    max-width: 445px;
    min-width: 277px;
    overflow: hidden;
    position: relative;
    text-align: right;
    width: 100%;
    box-shadow: 7px 7px 24px 0px #aaa;

  }
  
  .portfolio-tile *,
  .portfolio-tile *:before,
  .portfolio-tile *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  
  .portfolio-tile img {
    backface-visibility: hidden;
    height: 277px;
    min-width: 100%;
    vertical-align: top;
  }
  
  .portfolio-tile:before,
  .portfolio-tile:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: var(--color-purple);
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  
  .portfolio-tile:before {
    -webkit-transform: skew(30deg) translateX(80%);
    transform: skew(30deg) translateX(80%);
  }
  
  .portfolio-tile:after {
    -webkit-transform: skew(-30deg) translateX(70%);
    transform: skew(-30deg) translateX(70%);
  }
  
  .portfolio-tile figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 60px 20px 20px 40%;
  }
  
  .portfolio-tile figcaption:before,
  .portfolio-tile figcaption:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-purple);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    content: '';
    opacity: 0.5;
    z-index: -1;
  }
  
  .portfolio-tile figcaption:before {
    -webkit-transform: skew(30deg) translateX(100%);
    transform: skew(30deg) translateX(100%);
  }
  
  .portfolio-tile figcaption:after {
    -webkit-transform: skew(-30deg) translateX(90%);
    transform: skew(-30deg) translateX(90%);
  }
  
  .portfolio-tile h3,
  .portfolio-tile p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
    color: var(--color-gray-lt);
  }
  
  .portfolio-tile h3 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
  }
  
  .portfolio-tile p {
    font-size: 0.9em;
  }
  
  .portfolio-tile .links {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
  }
  .portfolio-tile a:hover{
      color: var(--color-green-lt);
  }
  

.portfolio-tile:hover h3,
.portfolio-tile.hover h3,
.portfolio-tile:hover p,
.portfolio-tile.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
}

.portfolio-tile:hover:before,
.portfolio-tile.hover:before {
  -webkit-transform: skew(30deg) translateX(30%);
  transform: skew(30deg) translateX(30%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.portfolio-tile:hover:after,
.portfolio-tile.hover:after {
  -webkit-transform: skew(-30deg) translateX(20%);
  transform: skew(-30deg) translateX(20%);
}

.portfolio-tile:hover figcaption:before,
.portfolio-tile.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(50%);
  transform: skew(30deg) translateX(50%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.portfolio-tile:hover figcaption:after,
.portfolio-tile.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(40%);
  transform: skew(-30deg) translateX(40%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

